@import "vendor/module";

.slider{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 0;
    background-image: url("images/slider_background.jpg");
    background-position: center; 
}

